.toggle-switch-container {
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 54px;
    height: 30px;
    background-color: grey;
    display: block;
    border-radius: 30px;
    position: relative;
    transition: background-color 300ms linear;
  }

  label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background-color: #f34160;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 40px;
  }
}
